html {
    	font-family: sans-serif;
    	font-size: calc(1em * 0.875);
    	height: 100%;
}

body {
    	height: 100%;
    	margin: 0;
    	background-repeat: no-repeat;
    	background: linear-gradient(white, #fcc) fixed;
}


/* Header styles */
h1, h2 {
    	font-weight: normal;
    	font-family: 'Georgia', 'Times New Roman', Times, serif;
	margin-bottom: 0.6em;
	padding-bottom: 0.15em;
	border-bottom: 1px solid #a2a9b1;
}

/* Main styles */
main {
    	padding: 1em 5em;
    	margin-bottom: 7em;
}
