/* Body style */
body {
    background-color: #1b1f12;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* Header styles */
h1, h2 {
    font-weight: normal;
}

/* Main styles */
.main {
    padding: 1em;
}

.main-header,
.main-header > h1,
.main-header > p {
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

/* Custom list style */
@counter-style lower-alpha-parentheses {
    system: extends lower-alpha;
    prefix: '(';
    suffix: ') ';
}