html {
    background-image: linear-gradient(to bottom right, #ff95fc, #ffeaff);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
}
    
p, ol, ul, table {
    font-family: "Josefin Sans";
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display";
    margin: 0;
}

.hero {
    text-align: center;
    background: #fff5ff;
    box-shadow: 0 0 1em 0 black;
    padding: .5em;
}

body {
    margin: 0;
}

.main {
    margin: .5em;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    color: #B13269;
}

thead > tr > td {
    border-bottom: 1px solid black;
}

td {
    padding: .3em;
}