/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

/* Header styling */
header {

  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 1em;
  position: sticky;
  top: 0;
  
  h1 {
    margin: 0;
  }

  span {
    font-style: italic;
  }
}


body {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
}
