:root {
  --primary-color: #3c5043;
}


html {
  font-family: 'Source Serif 4', 'Times New Roman', serif;
  margin: 0.2em;
}

body {
  counter-reset: example;
  text-align: justify;
}

figure {
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Reddit Mono', monospace;
}

/* Backstage styles */
.work {
  margin-bottom: 5em;
}

.work-title {
  background: #3c5043;
  color: white;

  padding: 0.1em;
  margin-bottom: 3.5em;
  text-align: center;
  box-shadow: 0 10px 1em lightgray;
  border-radius: 1em;
}

@media only screen and (min-width: 768px) {
  main {
    padding: 0 15em;
  }
  .work-title {
    padding: 0.5em;
  }
}

.definition,
.example {
  padding: 1em;
  margin: 0.3em;
  
  border: 1px solid gray;
}

.definition::before {
  margin-right: 1em;
  content: "Definition";
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Reddit Mono", monospace;
}

.example::before {
  counter-increment: example;
  
  margin-right: 1em;
  content: "Example " counter(example);
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Reddit Mono", monospace;
}

.solution::before {
  margin-right: 1em;
  content: "Solution";
  color: var(--primary-color);
  font-style: italic;
  font-family: "Reddit Mono", monospace;
}

/* General centering of div horizontally */
.center {
  margin: auto;
}

/* Displaying equations where MathJax either fails or is not necessary */
.display-text {
  text-align: center;
}

/* Table styles */
.clean-table {
  border-collapse: collapse;
  text-align: center;
  
  caption {
    padding-bottom: 0.2em;
  }
  
  th {
    border-bottom: 1px solid black;
    padding: 0.5em;
  }
  
  td {
    padding: 0.5em;
  }
}

/* Link classes */

a:link, a:visited {
  color: black;
  text-decoration: underline #9dcdba 2px;
}

a:hover {
  text-decoration: underline var(--primary-color) 3px;
}