html {
  font-family: 'Times New Roman', serif;
  margin: 0.2em;
}

body {
  counter-reset: example;
  text-align: justify;
}

.definition,
.example {
  padding: 1em;
  margin: 0.3em;
  
  border: 1px solid gray;
}

.definition::before {
  content: "Definition. ";
  font-weight: bold;
}

.example::before {
  counter-increment: example;
  
  content: "Example " counter(example) ". ";
  font-weight: bold;
}

.solution::before {
  content: "Solution. ";
  font-style: italic;
}

/* Button classes */
.collapsible {
  all: unset;
  cursor: pointer;
  padding: .5em;
  width: 100%;
}

.content {
  padding: .5em;
  display: none;
  overflow: hidden;
}
